.image_gallery_section img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1.9;
  padding: 0.1rem;
}

.imagegallery_verticle_images {
  display: flex;
  flex-direction: column;
}

.view_more_image_wrapper {
  position: relative;
}

.view_more_image_wrapper p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0.2rem;
  border-radius: 5px;
  color: white;
  /* Change color as needed */
}

.wrapper_carousel img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* styling react tabs  */
.venue_about_section {
  margin-top: 4rem;
}

.tabs {
  width: 100%;
}

.tab-buttons {
  display: flex;
  margin-bottom: 10px;
}

.tab-buttons button {
  flex: 1;
  background: transparent;
  padding: 8px 1.5rem;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid transparent;
}

.tab-buttons button.active {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: bold;
  outline: none;
  transition: 0.4s ease-in-out;
}

.about_venue_tabContent {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about_venue_tabContent p {
  font-family: "Roboto";
  font-size: 14px;
  color: var(--text-grey);
}

.read-more-section p {
  display: inline-block;
}

.venue_features_section {
  margin-top: 2rem;
}

.read-more-toggle:hover {
  text-decoration: underline;
}

.venue_features_wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-direction: row;
}

.venue_features_wrapper p {
  margin: 0;
}

/* -----------------------------________Calendy------------------------------- */

.calenday_modelContainer {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  width: 100%;
}

.calendy_modelHead {
  background: rgba(249, 250, 250, 1);
  padding: 0.5rem 1.5rem;
  color: var(--text-black);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.todays_booking {
  background: rgba(210, 232, 244, 1);
  color: var(--text-grey);
  width: fit-content;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0rem 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  border-radius: 25px;
}

.calendy_modelHead p {
  margin: 0;
  color: var(--text-grey);
  font-family: "Roboto";
}

.calendy_modelHead h4 {
  margin: 0;
  font-weight: 600;
}

.calenday_modelSubHead {
  margin-top: 0.5rem !important;
  background: rgba(228, 228, 228, 1);
  width: 90%;
  margin: auto;
  border-radius: 9px;
  text-align: center;
}

.calenday_modelSubHead p {
  margin: 0;
  color: var(--white);
  font-size: 14px;
}

.calenday_modelScreen {
  height: 380px;
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
}

.ocsnDopdown {
  width: 100%;
  height: 40px;
  background-color: var(--off-white);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  color: var(--text-grey);
}

.p-dropdown-items {
  background-color: var(--off-white);
  width: 100%;
  color: var(--text-grey);
}

.p-dropdown-items li {
  padding: 0.3rem 0;
}

.MuiDateCalendar-root {
  width: 100% !important;
}

.calenderDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: var(--text-grey) !important;
}

.timeBox {
  border: 1px solid var(--primary-color);
  border-radius: 7px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  min-height: 60px;
}

.timeBox:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.timeBox:hover p {
  color: var(--white);
}

.timeBox h6 {
  font-size: 15px;
  margin: 0;
  margin-bottom: 0.3rem;
}

.timeBox p {
  color: var(--text-grey);
  font-size: 12px;
  margin: 0;
}

.personBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.personInfo {
  width: 100%;
}

.border0 {
  border-radius: 0 !important;
}

.personInfo .react-international-phone-input-container .react-international-phone-country-selector-button,
.personInfo .react-international-phone-input-container .react-international-phone-input {
  border-radius: 0 !important;
}

.personInfo .PhoneloginButton {
  width: 100%;
  border-radius: 0;
  height: 40px;
  margin-top: 1.5rem;
}

.sentOtp {
  color: var(--text-grey);
  font-size: 14px;
}

.sentOtp span {
  color: var(--primary-color);
}

.varifuy p {
  margin-bottom: 1.5rem;
}

.varifuy input {
  margin-bottom: 1.5rem;
}

.thankYou img {
  width: 3rem;
  margin-bottom: 1rem;
}

.thankYou {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.steps {
  background-color: var(--light-black);
  display: flex;
  gap: 1.2rem;
  width: fit-content;
  font-size: 14px;
  padding: 0.2rem 1rem;
  flex-direction: row;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  img {
    width: 20px;
    height: 20px;
  }
}

.black_section_carousel {
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  padding: 0.8rem 1rem;
  font-family: "Roboto";
  color: var(--white);
  background-color: var(--secondary-black);
}

.black_section_carousel h6 {
  margin: 0;
}

.black_section_carousel p {
  font-size: 14px;
}

.black_section_carousel img {
  width: 34px;
  height: 20px;
}

.first_row_black_section_carousel {
  display: flex;
  justify-content: space-between;
}

.french_text {
  border: 1px solid var(--white);
  padding: 0.2rem 0.8rem;
  border-radius: 50px 50px 50px 50px;
}

.reviews_black_section {
  margin-right: 0.5rem;
}

.fade-img {
  position: relative;
}


.view_photos {
  position: absolute;
  top: 0;
}

/* <img src= {
     view_photos
 }

 alt="view_photos"
 className="view_photos"
 /> */

.fade-img:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0) 0%,
      var(--secondary-black) 100%);

  height: 40%;
}

.venuePage_venueCategory_heading img {
  width: 14px;
}

.venuePage_venueCategory_heading a,
.venuePage_venueCategory_heading span {
  font-size: 14px;
}

.menu_image_wrapper {
  display: flex;
  overflow: auto;
  width: 100%;
  gap: 0.5rem;
}

.menu_image_wrapper img {
  width: 250px;
}

.want_more_section {
  background-color: var(--secondary-black);
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  align-items: center;
  width: fit-content;
  border-radius: 8px;
  margin-top: 0.5rem;
  width: 100%;
}

.want_more_section img {
  width: 25px;
  padding: 0.3rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  aspect-ratio: 1;
  margin-left: 30px;
}

.want_more_section h6,
.want_more_section p {
  margin: 0;
}

.time_discount_container_detailedVenue {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 0.6rem !important;
  cursor: pointer;
  justify-content: center;
  padding: 0.1rem 0.2rem;
  overflow: auto;
  height: 338px;

  .discount_section p:hover {
    background-color: var(--secondary-black);
    color: var(--white);
  }
}

.time_discount_container_detailedVenue::-webkit-scrollbar {
  width: 10px;
}

.time_discount_container_detailedVenue::-webkit-scrollbar-track {
  background-color: var(--light-grey);
}

.time_discount_container_detailedVenue::-webkit-scrollbar-thumb {
  background-color: var(--light-black);
  border-radius: 10px;
}

.calendar_modal_heading {
  display: flex;
  justify-content: left;
}

.guests_calendar_modal {
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  margin-bottom: 1rem;

  p {
    border: 1px solid grey;
    padding: 0.5rem 1.5rem;
    margin: 0;
    font-family: "Roboto";
    font-size: 14px;
    border-radius: 5px;
  }

  p:hover {
    background-color: var(--light-pink);
    cursor: pointer;
  }
}

.wrapper_calendar_modal {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  input {
    width: 100%;
    box-shadow: none;
    outline: none;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 0.5rem;
  }

  a {
    margin-top: auto;

    display: flex;
    justify-content: center !important;
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--white);
    padding: 0.4rem 1rem;
    border-radius: 5px;
  }
}

.details_step_calendar_modal {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--text-grey);

  span {
    display: flex;
    justify-content: left;
    text-align: left;
    height: fit-content;
    align-items: center;
  }

  input {
    background: #ededed;
    border: none;
    padding: 0.4rem 1rem;
    margin-top: 0.5rem;
  }

  h6 {
    margin: 0;
    padding-right: 1rem;
  }

  p {
    margin: 0;
  }

  label {
    margin-left: 1rem;
    font-family: "Roboto";
    font-size: 14px;
    align-items: center;
  }
}

.checkBoxUnique {
  width: fit-content !important;
}

.final_step_wrapper {
  background: #edebeb;

  margin: auto;
  text-align: center;

  p {
    background-color: var(--white);
    color: var(--text-black);
    padding: 0.4rem 1.5rem;
    border-radius: 5px;
  }

  span {
    margin: auto;
  }
}

.calenday_modelScreen.greyBackground {
  background: #edebeb;
  display: flex;
}

.confirmed_booking_span {
  margin-top: auto;
  margin-bottom: auto;

  h6 {
    color: var(--green);
    font-weight: 600;
  }

  desc {
    font-size: 14px;
    font-weight: 500;
  }
}

.css-23p0if-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: var(--light-black) !important;
}

.rhombus {
  height: 30px;
  /* adjust to control the size  */
  aspect-ratio: 1;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  background: var(--light-black);
  margin-left: -15px;
}

.square {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  background: var(--light-black);
  padding: 0.2rem;
}

.rightArrowWhite {
  width: 10px !important;
}

.resrvDateSelect ul {
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0;
  width: 100%;
}

.resrvDateSelect,
.resrvDateSelect ul li {
  width: 100%;
  margin-bottom: 0.3rem;
}

.resrvDateSelect ul li p {
  text-align: center !important;
  margin: 0;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  aspect-ratio: 1.5;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.selectedFormItems {
  background-color: var(--light-black) !important;
  border-radius: 5px;
  color: var(--white) !important;
}

.selectedFormItems p {
  color: var(--white-text) !important;
}

.hideInput {
  display: none;
}

.resrvDateSelect {
  position: relative;
}

.addInputBtn {
  position: absolute;
  right: -11px;
  top: 10px;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.addInputBtn img {
  width: 100%;
  margin-top: 5px;
}

.customRsrvInput input {
  outline: none;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.parentContainer {
  position: relative;
  display: flex;
}

.sticky-container {
  position: sticky;
  top: 78px;
  align-self: flex-start;
}


.block_table {
  background-color: #eee !important;
  color: #666666 !important;
}

.block_table span {
  color: #666666 !important;
}

.block_table:hover {
  background-color: #eee !important;
  color: #666666 !important;
  cursor: not-allowed;
}

.EquiryButtonMobile {
  display: none;
  width: 100%;
  justify-content: center;
  position: fixed;
  left: 0;

  bottom: 0;
  z-index: 40;
  background-color: white;
  padding-top: 1.5rem;
  padding-bottom: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.EquiryButtonMobile button {
  width: fit-content;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--white);
}

.EquiryButtonMobile button {
  width: 50%;
  padding: 0.7rem;
  margin-bottom: 3px;
}

.calenday_modelContainermobile {
  position: absolute;
}

@media (max-width: 991px) {
  .EquiryButtonMobile {
    display: flex;
  }

  .want_more_section {
    display: none;
  }

  .calenday_modelContainermobile {
    display: block;
  }

  .venuePage_venueCategory_heading {
    display: none;
  }
}

.calenday_modelContainermobile.show {
  max-height: 100%;
  bottom: 0;
}

.MobileCrossButton {
  z-index: 9999;
  display: none;
  position: absolute;
  top: 7px;
  right: 22px;
}

.MobileCrossButton button {
  background-color: transparent;
}

.calenday_modelContainermobile.show .MobileCrossButton {
  display: block;
}

.last_line_black_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width:500px) {

  .last_line_black_section {
    display: flex;
    flex-direction: column;
    margin-bottom: 0 !important;

    .first_row_black_section_carousel {
      justify-content: left;
      margin-top: 0.5rem;
    }
  }
}