.person_name {
    color: var(--white);
    font-family: "Roboto";
    font-size: 20px;
    width: fit-content;
    padding: 3rem 3rem;
    border-radius: 50% 50%;
    aspect-ratio: 1;
    background-color: var(--light-black);
    position: relative;
}

.person_name h3 {
    margin: 0;
}


.camera_icon_background {
    width: fit-content;
    position: absolute;
    bottom: 0;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    right: 10px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.profile_picture_section {
    background-color: #FFE9EB;
    padding: 2rem 2rem;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

.header_Section_profile_page {
    margin-top: 2rem;
}

.profile_name_text_section {
    margin-left: 1rem;
}

.profile_name_text_section p {
    margin: 0;
    display: flex;
    color: var(--text-grey);
    flex-direction: column;
}

.update_button_profile_page {
    margin-left: auto;
}

.update_button_profile_page a {
    text-decoration: none;
    color: var(--white);
    font-family: "Roboto";
    padding: 0.6rem 1rem;
    border-radius: 5px;
    background-color: var(--light-black);
    ;
}