:root {
  --primary-color: rgba(227, 55, 69, 1);
  --black: #000000;
  --white: #fff;
  --text-grey: rgba(83, 89, 105, 1);
  --light-grey: rgb(243, 243, 243);
  --green: rgba(38, 126, 62, 1);
  --light-pink: rgba(250, 248, 248, 1);
  --text-black: rgba(42, 45, 50, 1);
  --secondary-black: rgba(42, 45, 50, 1);
  --orange-Color: rgba(243, 120, 53, 1);
  --light-black: #535969;
}

.App {
  font-family: "Roboto";
}

.flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--black);
}



.ellipsis2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  height: 2.6em;
  line-height: 1.3em;
}

.hidden {
  display: none !important;
}